{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 404 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="page-header min-vh-100 bg-gradient-danger">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-gradient-danger shadow border-0">
              <img src="/static/assets/img/carousel-3.jpg" class="card-img">
              <div class="card-body bg-gradient-danger pb-5 justify-content-center align-items-center">
                <div class="d-flex justify-content-center">
                  <p class="card-text text-white">Oups! Error 500</p>
                </div>
                <div class="d-flex justify-content-center">
                  <p class="card-text text-white">Server error, please contact support</p>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a href="/" class="text-light"><small>Home</small></a>
              </div>
              <div class="col-6">
                <a href="#" class="text-light"><small>Get Support</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
