{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="min-height-300 bg-dark position-absolute w-100"></div>

<div class="container-fluid py-7">
  
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-lg-5">
      <!-- <div class="col-lg-5" style="height: 400px;"> -->
      <div class="card h-100 d-flex justify-content-center bg-gradient-success">
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
          <a href="{% url 'dashboard' %}" class="bg-gradient-success d-block">
            <img src="/static/assets/img/HomeInfra.png" class="img-fluid border-radius-lg">
          </a>
        </div>
        <div class="mt-2 d-flex justify-content-center">
          <a href="{% url 'dashboard' %}" class="btn bg-gradient-warning btn-lg fw-bold">Infrastructure</a>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card h-100 d-flex justify-content-center bg-gradient-success">
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
          <a href="#" class="bg-gradient-success d-block">
            <img src="/static/assets/img/carousel-2.jpg" class="img-fluid border-radius-lg">
          </a>
        </div>
        <div class="mt-2 d-flex justify-content-center">
          <a href="#" class="btn bg-gradient-warning btn-lg fw-bold">Non-Infrastructure</a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
