asgiref==3.8.1
autopep8==1.5.7
diff-match-patch==20241021
dj-database-url==0.5.0
Django==5.1.7
django-import-export==4.3.7
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
gunicorn==20.1.0
mysqlclient==2.2.7
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
pillow==11.1.0
pycodestyle==2.7.0
python-dateutil==2.9.0.post0
python-decouple==3.4
pytz==2021.1
six==1.17.0
sqlparse==0.4.2
tablib==3.8.0
toml==0.10.2
tzdata==2025.2
Unipath==1.1
whitenoise==5.3.0
