{% extends 'layouts/base.html' %}

{% block title %} Update History {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header pb-0">
      <div class="d-flex align-items-center">
        <p class="mb-0">Recents Updates</p>
        <a href="{% url 'update_data' %}" class="btn btn-sm bg-gradient-danger ms-auto d-flex gap-1 align-items-center justify-content-center">
          <i class="ni ni-curved-next me-sm-1"></i>
          <span class="d-sm-inline d-none">Back to Update</span></a>
      </div>
    </div>
    <div class="card-body">
      <!-- Success Message -->
      {% if messages %}
      <div class="alert alert-success mt-3">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
      </div>
      {% endif %}
      <div class="table-responsive p-0">
        {% if history_entries %}
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Field</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Old Value</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">New Value</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time Updated</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Updated By</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
          </thead>
          {% for entry in history_entries %}
          <tbody>
            <tr>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{ entry.project.project_name }}</p>
              </td>
              <td>
                <span class="text-secondary text-xs font-weight-bold">{{ entry.field_name }}</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-secondary text-xs font-weight-bold">{{ entry.old_value }}</span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{ entry.new_value }}</span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{ entry.updated_at }}</span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">{{ entry.updated_by }}</span>
              </td>
              <td class="align-middle">
                <form method="post" action="{% url 'update-history-action' entry.id 'revert' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning">Undo</button>
                </form>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        {% else %}
        <p>No updates found.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
